.Map {
    position: relative;
    width: 100vw;
    height: 1000px;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.mapboxgl-popup-content {
    width: 150px;
    height: 130px;
    z-index: 30;
    position: relative;
    top: -10px;
}

.mapboxgl-popup-tip {
    display: none;
}